<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %} 
            <link rel="stylesheet" href="{{ asset('/assets/css/inicial.css') }}"> 
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <div id="topo">
        <h1> {{ titulo }}</h1>
        <div id="esquerdo">
            <legend id="esquerdo"> 
                <label>Cadastrar Professor</label>
                <p>Acessar utilizando o login fornecido pelo sistema SAPO.</p>
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit"/>
                {{ form_end(form) }}    
            </legend>
        </div>
        {% if retorno != "" %}
            <b>{{ retorno }}</b>
        {% endif %}

    </body>
</html>
