{% extends "topoInicial.html.twig" %}
{% block title %}Sapo - Matemática :: Login{% endblock %}
{% block esquerdo %}
    <legend id="esquerdo"> 
        <label>Professor</label>
        <p>Acessar utilizando o login fornecido pelo sistema SAPO.</p>
        {{ form_start(form) }}
            {{ form_widget(form) }}

            <input type="submit"/>
        {{ form_end(form) }}    
    </legend>
    <legend id="direito"> 
        <label>Aluno</label>
        <p>O acesso do aluno deve ser realizado com o login do Google Education fornecido pela secretaria de educação do estado do Rio Grande do Sul.</p>
        <p>Mesmo login utilizado para acesso ao Google Classroom</p>
        <center><a href=""><img src="{{ asset('/assets/imagens/logar_google.png') }}"></a></center>
    </legend>

{% endblock %}
{% block direito %}
        {% if erro != "" %}
            <b>{{ erro }}</b>
        {% endif %}
{% endblock %}